@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #69baff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

h1 {
  margin: 10px 0 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}
h1 i {
  color: #065799;
}

#message p {
  text-align: center;
  font-size: 24px;
  text-shadow: 1.2px 1.2px 1.2px rgba(0, 66, 120, 0.65);
  margin-top: 10px;
}
#message p:nth-child(2) {
  height: 19px;
  margin: 0;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.cup .remained {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.cup .remained .liters {
  font-size: 20px;
  font-weight: bold;
}
.cup .remained small {
  font-size: 12px;
}
.cup .percentage {
  color: #fff;
  background-color: var(--fill-color);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  height: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
}
.cup.cup-small {
  width: 70px;
  height: 115px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.cup.cup-small:active {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.cup.full {
  background-color: var(--fill-color);
  color: #fff;
}

.text {
  text-align: center;
  margin: 5px 0 1.5%;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.text i {
  color: #065799;
}

.cups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
}/*# sourceMappingURL=style.css.map */