@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main--wrap {
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}
.main--wrap .container {
  background-color: #fafafa;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 100px 60px 0 60px;
}
.main--wrap .container.show-nav {
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.main--wrap .container.show-nav .circle-container .circle {
  -webkit-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
          transform: rotate(-70deg);
}
.main--wrap .container.show-nav + nav li {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.main--wrap .container .circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}
.main--wrap .container .circle-container .circle {
  background-color: #fa7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.main--wrap .container .circle-container .circle button {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  height: 100px;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.main--wrap .container .circle-container .circle button:focus {
  outline: none;
}
.main--wrap .container .circle-container .circle button#open {
  left: 60%;
}
.main--wrap .container .circle-container .circle button#close {
  top: 60%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}
.main--wrap .container .content {
  max-width: 900px;
  margin-inline: auto;
}
.main--wrap .container .content h1 {
  margin: 0;
}
.main--wrap .container .content small {
  color: #555;
  font-style: italic;
}
.main--wrap .container .content p {
  color: #333;
  line-height: 1.5;
}
.main--wrap nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}
.main--wrap nav ul {
  list-style-type: none;
  padding-left: 30px;
}
.main--wrap nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}
.main--wrap nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}
.main--wrap nav ul li + li {
  margin-left: 15px;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
}
.main--wrap nav ul li + li + li {
  margin-left: 30px;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
}
.main--wrap nav a {
  color: #fafafa;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main--wrap nav a:hover {
  color: #ff7979;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */